



/* основной цвет текста #212121 */
/* дополнительный цвет параграфа текста #757575  */
/* выделенные объекты #2196F3 */

.logo {
    color: #2196F3;
}

.nav-contact {
    color: #757575;
}

body {
    color: #212121;
}

.nav-contact:hover .nav-link:hover {
    color: #2196F3;
}
